:root {
    --black: #000000;
    --evening-sea: #064e3b;
    --gravel-4: #484f4acc;
    --gravel2: #484f4a80;
    --vulcan: #1211271f;
    --vulcan-2: #12112766;
    --vulcan-3: #111127;
    --vulcan-4: #1211278f;
    --white: #ffffff;
    --x2: #faf5f2;
    --font-size-m2: 24px;
    --font-size-xxl: 40px;
    --font-size-xxs: 16px;
    --font-size-xxxs: 14px;
    --font-size-xxxxs: 12px;
    --font-family-castoro: "Castoro", Helvetica;
    --font-family-lato: "Lato", Helvetica;
}