@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Castoro:400|Lato:300");
.screen a {
    display: contents;
    text-decoration: none;
}

input:focus {
    outline: none;
}

* {
    box-sizing: border-box;
}